
@font-face{
    font-family: "mntsofxmas";
    src: url('fonts/MountainsofChristmas-Regular.ttf');

}
html{
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}
body{
    background-color: black;
    color: white;
    font-family: "mntsofxmas";
}
.main > h1{
    font-size: 6em;
}
.main > h3{
    font-size: 2em;
}
.main > nav{
    font-size: 3em;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
nav > a{
    color: rgb(250, 234, 151);
    text-decoration: none;
    margin: 0 0.5em;
    transition: 0.3s all ease-in-out;
}
nav > a:hover{
    color: rgb(246, 222, 102);
    transition: 0.3s all ease-in-out;
    scroll-snap-type: proximity;
}
nav > a:visited{
    color: #ead47c;
}
.main{
    margin: 20em auto;
    width: auto;
    text-align: center;
}
.internal{
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 87%;
    display: flex;
}
.about, .investigation, .portfolio{
    margin: 15em auto;
    width: 95%;
    outline: 1px solid red;
}
.about > h1, .investigation > h1, .portfolio > h1{
    color: rgb(250, 234, 151);
    font-size: 4em;
    text-align: center;
}
#about-me{
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
}
.internal > #portfolio-img{
    width: 35em;
    padding: 0.5em;
    clip-path: rect(3em 90% 50em 9% round 1%);
}
.investigation > #si{
    font-size: 2em;
    width: 85%;
    text-align: center;
    margin: auto;
}
.portfolio > .art-piece{
    font-size: 1.75em;
    margin: auto auto 2.5em auto;
    text-align: center;
    width: 80%;
}
.piece-info > h2 > #details{
    font-size: 0.8em;
}
.piece-info > h2 > #desc{
    font-size: 0.75em;
}
.piece-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: auto auto 1em auto;
}
.piece-info > a > #piece{
    width: 14em;
    padding: 0em 1em;
}
.piece-info > p{
    width: 28em;
    text-align: center;
    outline: 1px solid orange;
}
#divider{
    width: 85%;
    border:rgb(236, 202, 127) 1px solid;
}
#mobile-only{
    display: none;
}
@media only screen and (max-width: 430px) {
    .main > h1{
        font-size: 3em;
    }
    .main > nav{
        font-size: 1.5em;
        display: block;
        margin: auto;
    }
    .main{
        margin: 4em auto;
        text-align: center;
    }
    nav > a{
        margin: 0 0.5em;
        transition: 0.3s all ease-in-out;
    }

    .about, .investigation, .portfolio{
        margin: 0 auto;
        width: 95%;
        outline: 1px solid red;
    }
    .about > h1, .investigation > h1, .portfolio > h1{
        color: rgb(250, 234, 151);
        font-size: 3em;
        text-align: center;
    }
    .internal{
        margin: auto;
        width: 87%;
        display: block;
        text-align: center;
    }
    #about-me{
        font-size: 1.5em;
        text-align: center;
        padding: 0.5em;
    }
    .internal > #portfolio-img{
        width: 15em;
        padding: 0.5em;
        clip-path: rect(2em 90% 50em 9% round 1%);
        margin: auto;
    }
    .piece-info{
        display: block;
        text-align: center;
        width: auto;
        margin: auto auto 1em auto;
    }
    .piece-info > a > #piece{
        width: 10em;
        text-align: center;
        margin: auto;
    }
    #mobile-only{
        display: block;
    }
}